{{!-- received this code from ChatGPT --}}

<article>
    <h1>{{title}}</h1>
    <p>{{content}}</p>
    <p><small>Posted by {{author}} on {{date}}</small></p>
</article>
<h2>Comments</h2>
{{#if comments.length}}
    {{#each comments}}
        {{> comment}}
    {{/each}}
{{else}}
    <p>No comments yet. Be the first to comment!</p>
{{/if}}
{{#if loggedIn}}
    <form action="/post/{{id}}/comment" method="POST">
        <label for="content">Comment:</label>
        <textarea id="content" name="content" required></textarea>
        <button type="submit">Submit</button>
    </form>
{{else}}
    <p><a href="/login">Log in</a> to leave a comment.</p>
{{/if}}

